{% extends 'todoapp/base.html' %}
{% load crispy_forms_tags %}
{% block content %}
	<div class="container">
		<div class="row">
		  <div class="col-sm-9 col-md-7 col-lg-5 mx-auto">
			<div class="card border-0 shadow rounded-3 my-5">
			  <div class="card-body p-4 p-sm-5">
				<h5 class="card-title text-center mb-5 fw-light fs-5">Edit your Task </h5>
				<form method="POST">

					{% csrf_token %}
			<input type="text" name="task" value="{{ task_item }}">
			<div style="display: none;"> <label for="task_id"> ID </label>
				<input type="text" name="task_id" value="{{ task_id }}"> </div>

			<label for="priority">Priority level:</label>
			<select name="priority" id="priority">

				{% for i in range %}
				{% if i == task_priority%}
				<option value="{{i}}" selected> {{ i }}</option>
				{% else %}
				<option value="{{i}}"> {{i}}</option>
				{% endif %}
				{% endfor %}

			</select>
			<button type="submit" class="btn btn-primary"> Edit </button>
				</div>
			  </div>
			</div>
		  </div>
		</div>
	  </div>
{% endblock content %}
